.text-center {
    margin: 15px;
}
.taille {
    width: 25px;
}

.position-cv {
    padding-top: 2%;
}
.dd {
    background-color: lightgray;
}
.navig {
    margin: 10px;
}
.position-img {
    width: 450px;
}